* { box-sizing: border-box; }

.item {
  position: relative;
  float: left;
  border: thin solid white;
  color:white;
  padding: 1em;
  z-index: 1;
  font: small-caps 100%/200% serif;
}

.submenu {
    font: bold 90% monospace;
}

#menu {
  border: thin solid black;
  background-color: black;
  z-index: 1;
}

#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid white; }

.submenu { display: none;}

.item:hover > .submenu {
  position: absolute;
  display: block;
  width: auto;

}

.container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font: oblique bold 120% cursive;
  }

  .contenido{
    padding-top: 3%;
    font: small-caps 100%/200% serif;
    margin: auto
  }

  .caja-contenido-1{
    border: 0.2em solid red;
    text-align: 1em;
    padding: 1em;
    width: 350px;
    height: 150px;
}
.caja-contenido-2{
   position: relative;
    border: 0.2em solid red;
    text-align: 1em;
    padding: 1em;
    width: 350px;
    height: 150px;
    left: 350px;
    bottom: 150px;
}
.caja-contenido-3{
    position: relative;
    border: 0.2em solid red;
    text-align: 1em;
    padding: 1em;
    width: 350px;
    height: 150px;
    left: 700px;
    bottom: 300px;
}
.caja-contenido-4{
    position: relative;
    border: 0.2em solid red;
    text-align: 1em;
    padding: 1em;
    width: 350px;
    height: 150px;
    bottom: 300px;
}
.caja-contenido-5{
    position: relative;
    border: 0.2em solid red;
    text-align: 1em;
    padding: 1em;
    width: 350px;
    height: 150px;
    left: 350px;
    bottom: 450px;
}
.caja-contenido-6{
    position: relative;
    border: 0.2em solid red;
    text-align: 1em;
    padding: 1em;
    width: 350px;
    height: 150px;
    left: 700px;
    bottom: 600px;
}
.caja-contenido-7{
  position: relative;
  border: 0.2em solid red;
  text-align: 1em;
  padding: 1em;
  width: 290px;
  height: 300px;
  left: 1050px;
  bottom: 900px;

}
